.query-builder .rules-group-container {
    border: none;
    background: #30324F; }
  
  .query-builder .rules-list > *::before, .query-builder .rules-list > *::after {
    border-color: transparent; }
  