@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:400,600");
html, body {
  height: 100%; }

.navbar {
  border-radius: 0 !important;
  border: none !important;
  min-height: 85px; }

.navbar-default {
  background: -moz-linear-gradient(-45deg, #000428 0%, #004e92 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000428 0%, #004e92 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000428 0%, #004e92 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000428', endColorstr='#004e92',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-color: #272635; }

.navbar-hearder {
  margin-top: 10px; }

.header {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 27px 0; }

.headline {
  width: 100%;
  height: 30px;
  background-color: transparent; }
  .headline h5 {
    padding: 7px 0;
    font-size: 25px;
    color: #30324F;
    font-family: 'Montserrat', sans-serif; }

.form-body {
  height: 100%; }
  .form-body .logo {
    display: inline-block;
    top: 50px;
    left: 40px;
    right: initial;
    bottom: initial;
    position: absolute;
    z-index: 1000; }
    .form-body .logo .inner {
      background-size: contain;
      background-repeat: no-repeat; }
      .form-body .logo .inner .logo-size {
        width: 200px;
        height: auto; }
  .form-body .row {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    display: inline-block;
    height: 100%;
    width: 100%; }
    .form-body .row .img-holder {
      width: 450px;
      background-color: #152733;
      position: fixed;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      padding: 60px;
      text-align: center;
      z-index: 999;
      min-height: 900px;
      height: auto;
      height: 100%; }
    .form-body .row .info-holder {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .form-body .row .info-holder .sidebar-header {
        color: white;
        font-size: 35px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif; }

form {
  margin-top: 90px; }

.form {
  width: 100%;
  margin-left: 550px;
  height: 100%; }
  .form .form-content {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 60px;
    padding-left: 0px;
    min-height: 100%;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }
    .form .form-content .sub-heading {
      margin-bottom: 30px; }
    .form .form-content h3 {
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      width: 400px;
      text-align: left; }
    .form .form-content .seperator {
      width: 90px;
      background: #30324F;
      height: 3px;
      margin-bottom: 30px; }
    .form .form-content p {
      font-family: "Open Sans", sans-serif;
      font-size: 16px; }
    .form .form-content .form-items {
      max-width: 700px;
      text-align: left;
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 40%;
      left: 0%;
      -webkit-transform: translate(0%, -40%) perspective(1px);
      -moz-transform: translate(0%, -40%) perspective(1px);
      -ms-transform: translate(0%, -40%) perspective(1px);
      -o-transform: translate(0%, -40%) perspective(1px);
      transform: translate(0%, -40%) perspective(1px); }
      .form .form-content .form-items div.checkbox {
        width: 100%;
        margin-bottom: 30px; }
        .form .form-content .form-items div.checkbox .value {
          margin-left: 20px;
          position: absolute;
          width: 100px;
          left: 50%; }
          .form .form-content .form-items div.checkbox .value label {
            vertical-align: middle; }
          .form .form-content .form-items div.checkbox .value select {
            position: absolute;
            left: 50px; }
        .form .form-content .form-items div.checkbox .value_between {
          margin-left: 20px;
          position: absolute;
          width: 100px;
          left: 80%; }
          .form .form-content .form-items div.checkbox .value_between label {
            vertical-align: middle; }
          .form .form-content .form-items div.checkbox .value_between select {
            position: absolute;
            left: 50px; }
      .form .form-content .form-items .checkbox-inline {
        font-family: "Open Sans", sans-serif;
        font-size: 17px;
        margin-top: 2px; }
      .form .form-content .form-items .condition {
        position: absolute;
        left: 25%; }

/*# sourceMappingURL=main.css.map */
