@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:400,600');

html,body{
    height: 100%;
   overflow-x:hidden;
}

$secondary: #30324F;
$mons:'Montserrat', sans-serif;
$open: 'Open Sans', sans-serif;


.navbar{
    border-radius:0 !important;
    border: none !important;
    min-height: 85px;
}

.navbar-default {
    background: -moz-linear-gradient(-45deg, #000428 0%, #004e92 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #000428 0%,#004e92 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #000428 0%,#004e92 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000428', endColorstr='#004e92',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-color: #272635;
}
.navbar-hearder{
    margin-top: 10px;
}
.header{
color: white;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
font-size: 30px;
margin: 27px 0;
}

.headline{
    width: 100%;
    height: 30px;
    background-color: transparent;
    h5{
        padding: 7px 0;
        font-size: 25px;
        color:$secondary;
        font-family: 'Montserrat', sans-serif;
    }

}

.form-body{
    height: 100%;
width: 100%;
    .logo{
        display: inline-block;
        top:50px;
        left: 40px;
        right: initial;
        bottom: initial;
        position: absolute;
        z-index: 1000;
    .inner{
        background-size: contain;
        background-repeat: no-repeat;
        .logo-size{
            width: 200px;
            height: auto;
           // -ms-interpolation-mode: bicubic
        }
    }
    }
    .row{
        position: relative;
        margin-left: 0;
        margin-right: 0;
       display: inline-block;
       height: 100%;
       width: 100%;
       .img-holder{
        width: 25vw;
        background-color: #152733;
        position: fixed;
        display: inline-block;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 60px;
        text-align: center;
        z-index: 999;
        min-height: 900px;
        height: auto;
        height: 100%;
       }
       .info-holder{
        position: relative;
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .sidebar-header{
            color:white;
            font-size: 35px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
        }
       }
    }
}


form{
  margin-top: 25px;
}
.form{
    width: 73vw;
    display: inline-block;
   // margin-top: 90px;
   height: 100%;
   margin-left: 15px;
   position: absolute;
   margin-left: 15px;
   .seperator{
    width: 90px;
    background: $secondary;
    height: 3px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.sub-heading{
    margin-bottom: 30px;
    margin-left: 15px;
}
 h3{
     font-weight: bold;
     font-family:$mons;
     width: 400px; 
     text-align: left;
     margin-left: 15px;
 }

    .form-content{
      
        
        p{
        font-family: $open;
        font-size: 16px;
        }
        position: relative;
    text-align: center;
    display: inline-block;
 //   padding: 60px;
    padding-left: 0px;
//    min-height: 100%;
    width: 100%;;
    height: 80vh;
    transform-style: preserve-3d;
    .form-items{
    max-width:100%;
    text-align: left;
    display: inline-block;
    width: 100%;
    position: absolute;
    top:0%;
    left:0%;
    
transform: translate(0%,0%) perspective(1px);;
    div.checkbox{
        width: 100%;
        margin-bottom: 30px;
        .value{
            margin-left: 20px;
            position: absolute;
            width: 100px;
            left:50%;
            label{
                vertical-align: middle;
            }
            select{
                position: absolute;
                left: 50px;
            }
        }
        .value_between{
            margin-left: 20px;
            position: absolute;
            width: 100px;
            left:80%;
            label{
                vertical-align: middle;
            }
            select{
                position: absolute;
                left: 50px;
            }
        }
    }
    .checkbox-inline{
        font-family: $open;
        font-size: 17px;
        margin-top: 2px;
    }
    .condition{
     //   margin-left: 90px;
     position: absolute;
     left: 25%;
    }
    }
    }
}
//https://i.imgur.com/VIDLtws.png